# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE settings
.vscode/
.idea/

# Distribution / packaging
dist/
build/
*.egg-info/

# Project-specific generated/large files (Uncomment if you don't want to push these to GitHub)
# models/
# tokenizers/
# data/raw/
# results/
